<% include ../header.html %>
<h3>weather</h3>
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Area
                <span class="caret"></span></a>
        <% if(areas){%>
            <ul class="dropdown-menu" role="menu">
                <% areas.forEach(function(area){%>
                <li>
                    <a href="/wea/queryProvince?no=<%=area.no%>"><%=area.name%></a></li>
                <%})%>
            </ul>
        <%}%>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Province
            <span class="caret"></span></a>
        <% if(pros){%>
        <ul class="dropdown-menu" role="menu">
            <% pros.forEach(function(pro){%>
            <li>
                <a href="/wea/queryCity?no=<%=pro.no%>"><%=pro.name%></a></li>
            <%})%>
        </ul>
        <%}%>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">City
            <span class="caret"></span></a>
        <% if(cities){%>
        <ul class="dropdown-menu" role="menu">
            <% cities.forEach(function(city){%>
            <li>
                <a href="/wea/queryCounty?no=<%=city.no%>"><%=city.name%></a></li>
            <%})%>
        </ul>
        <%}%>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">County
            <span class="caret"></span></a>
        <% if(counties){%>
        <ul class="dropdown-menu" role="menu">
            <% counties.forEach(function(cou){%>
            <li>
                <a href="/wea/queryWeather?wid=<%=cou.wid%>"><%=cou.name%></a></li>
            <%})%>
        </ul>
        <%}%>
    </ul>
</div>
<p><%=weather%></p>
<% if(png){%>
<img src="<%=png%>" height="100px" width="100px" >
<%}%>
<form method="post" class="form-horizontal" role="form">
    <input type="submit" class="btn btn-primary" value="GET">
</form>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<% include ../footer.html %>